* {
    background: #000000;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
}

div.parent {
	text-align: center;
	}
ul { 
	display: inline-block; 
	text-align: left; 
	}

.pixelated {
	image-rendering: pixelated;
}
	  